<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.course.UserDao">
    <select id="findById" parameterType="int" resultType="com.mybatis.course.User">
        select * from users where uid = #{id}
    </select>

    <select id="insertUser" resultType="int">
        insert into users values(#{uid},#{uname},#{uage})
    </select>
</mapper>